/target
/Cargo.lock
/.idea
/perf.data*
/flamegraph.svg
.coverage
worldcities.csv
cities.zip
target/
examples/*.txt
examples/*.zip
examples/*.csv
examples/*.json
examples/*.rkyv
examples/*.bincode.gz
.DS_Store
.vscode
kd_tree_fuzz_report.txt
kd_tree_fuzz_v6_report.txt
