[package]
name = "kiddo"
version = "2.0.1"
edition = "2021"
authors = ["Scott Donnelly <scott@donnel.ly>"]
description = "A high-performance, flexible, ergonomic k-d tree library. Ideal for geo- and astro- nearest-neighbour and k-nearest-neighbor queries"
keywords = ["kd-tree", "kdtree", "kd", "nearest-neighbor", "knn"]
readme = "README.md"
repository = "https://github.com/sdd/kiddo"
documentation = "https://docs.rs/kiddo"
license = "MIT OR Apache-2.0"
autobenches = false

[profile.release]
debug = true
lto = true
codegen-units = 1

[profile.bench]
debug = true
lto = true
codegen-units = 1
opt-level = 3

[dependencies]
log = "0.4"
num-traits = "0.2"
rand = "0.8" # delete at some point, only used in test bin
rayon = "1.7"
aligned = "0.4"
aligned-array = "1.0"
fixed = "1.23"
az = "1.2"
min-max-heap = "1.3"
elapsed = "0.1"
divrem = "1.0"
ordered-float = "3.7"
rand_chacha = "0.3"
itertools = "0.11"
tracing = "0.1"
tracing-subscriber = "0.3"

[dev-dependencies]
aligned = "0.4"
bincode = "1.3"
criterion = "0.5"
csv="1"
flate2 = { version = "1.0", features = ["zlib-ng-compat"], default-features = false }
log = "0.4"
memmap = "0.7"
radians = "0.3"
rayon = "1"
rand = "0.8"
rand_distr = "0.4"
serde = { version = "1", features = ["derive", "rc"] }
serde_json = "1.0"

[dependencies.serde]
version = "1"
optional = true

[dependencies.serde_derive]
version = "1"
optional = true

[dependencies.serde_with]
version = "1.14"
optional = true

[dependencies.rkyv]
version = "0.7"
optional = true
default-features = false
features = ["alloc", "copy_unsafe", "size_64"]

[features]
serialize = ["serde", "serde_derive", "serde_with", "fixed/serde"]
serialize_rkyv = ["rkyv"]
simd = []

[package.metadata.docs.rs]
all-features = true

[[bench]]
name = "add_points"
harness = false

[[bench]]
name = "nearest_one"
harness = false

[[bench]]
name = "nearest_one_sss"
harness = false

[[bench]]
name = "nearest_one_immutable"
harness = false

[[bench]]
name = "nearest_n"
harness = false

[[bench]]
name = "within"
harness = false

[[bench]]
name = "within_unsorted"
harness = false

[[bench]]
name = "best_n"
harness = false

[[example]]
name = "cities"
path = "examples/cities.rs"

[[example]]
name = "serde"
path = "examples/serde.rs"
required-features = ["serialize"]

[[example]]
name = "rkyv"
path = "examples/rkyv.rs"
required-features = ["serialize_rkyv"]

[[example]]
name = "immutable_large"
path = "examples/immutable_large.rs"

[[example]]
name = "check_select_nth_unstable"
path = "examples/check_select_nth_unstable.rs"

[[example]]
name = "broken"
path = "examples/broken.rs"
